<!DOCTYPE html>
<html lang="en">

<head>
    <title>Expense Manager</title>
</head>

<body>
{% extends 'base.html' %}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h3 class="mt-5"> Add Expense </h3>
            <form action="/addexpense" method="post">
                <div class="form-group">
                    <label for="">Date</label>
                    <input class="form-control" type="date" name="date" id="date">
                </div>
                <div class="form-group">
                    <label for="">Expense name</label>
                    <input class="form-control" type="text" name="expensename" id="expensename">
                </div>
                <div class="form-group">
                    <label for="">Amount</label>
                    <input class="form-control" type="text" name="amount" id="amount">
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select class="form-control" name="category" id="category">
                    <option value="food">Food</option>
                    <option value="rent">Rent</option>
                    <option value="commute">Commute</option>
                    <option value="misc">Miscellaneous</option>
                    </select>
                </div>
                <input class="btn-danger" type="submit" value="Add Expense">
            </form>
        </div>
    </div>
</div>

 {% endblock %}
</body>

</html>